.productos {
    margin: 0px;

    &__contenido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin: 20px;
        max-width: 100%;
        width: 0 auto;

        &-titulo {
            padding: 6px;
            font-size: 22px;
        }
    }
    &__cierre {
        display: flex;
        justify-content: center;
        margin: 20px;
        border: 1px solid #ffffff;
        padding: 10px;
        background-color: #005a9a;
        color: #ffffff;
        text-decoration: none;
        border-radius: 20px;
    }
}
.productos h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: rgb(228,228,228);
    background: linear-gradient(0deg, rgba(228,228,228,1) 35%, rgba(255,255,255,1) 100%); 
}