.piePagina {
    background-color: #000000;
    display: flex;
    color: #ffffff;
    height: 40px;
    padding: 18px;
    justify-content: center;
    text-align: center;

    &__redes {
        display: inline-flex;
        list-style-type: none; 
        justify-content: center;
        text-align: center;
    }
}

.piePagina__redes a {
    text-decoration: none;
    color: #60acd9;
    margin: 10px;
}
